.main {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__button-box {
    display: flex;
    gap: 10px;
  }

  &__button {
    width: 100px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    transition: .1s;

    &:active {
      transition: .1s;
      transform: scale(0.95);
    }
  }
}